<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Star Wars - Example</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>


    <div class="container">

            <div class="row">
              <div class="col-lg-8">&nbsp;</div>
            </div>

            <div class="row">

              <div class="col-lg-8">

                  <ul class="list-inline">
                    <li>Sorting by:</li>
                    <li><a href="/characters?sort=name"   >Name</a></li>
                    <li><a href="/characters?sort=height" >Height</a></li>
                    <li><a href="/characters?sort=mass"   >Mass</a></li>
                    <li>View Type by:</li>
                    <li><a href="<%= '/characters' + '?sort=' + sorting + '&viewtype=raw' %>" >RAW</a></li>
                    <li><a href="<%= '/characters' + '?sort=' + sorting + '&viewtype=ejs' %>" >EJS</a></li>
                  </ul>

              </div>

            </div>

            <% if( charactersList.length > 0 ){ %>

              <% if( viewtype == "ejs" ){ %>

                <% for( var i = 0; i < charactersList.length; i++ ){ %>

                  <div class="row">

                      <div class="col-lg-8">

                          <h1>Character: <%=charactersList[i].name       %></h1>
                          <br />
                          <blockquote><p>Height:     <%=charactersList[i].height     %></p></blockquote>
                          <blockquote><p>Mass:       <%=charactersList[i].mass       %></p></blockquote>
                          <blockquote><p>Hair Color: <%=charactersList[i].hair_color %></p></blockquote>
                          <blockquote><p>Skin Color: <%=charactersList[i].skin_color %></p></blockquote>
                          <blockquote><p>Eye Color:  <%=charactersList[i].eye_color  %></p></blockquote>
                          <blockquote><p>Birth Year: <%=charactersList[i].birth_year %></p></blockquote>
                          <blockquote><p>Gender:     <%=charactersList[i].gender     %></p></blockquote>

                      </div>

                  </div>

                  <div class="row">
                      <div class="col-lg-8">&nbsp;</div>
                  </div>

                <% } %>

              <% }else{ %>

                <% for( var i = 0; i < charactersList.length; i++ ){ %>

                  <div class="row">
                      <div class="col-lg-8">&nbsp;</div>
                  </div>

                  <div class="row">

                      <div class="col-lg-8">

                          <p><%= JSON.stringify( charactersList[i] ) %></p>

                      </div>

                  </div>

                  <div class="row">
                      <div class="col-lg-8">&nbsp;</div>
                  </div>

                <% } %>

              <% } %>

            <% } %>

    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
