<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Star Wars - Example</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>

      <div class="container">

              <div class="row">
                <div class="col-lg-8">&nbsp;</div>
              </div>

              <div class="row">

                <div class="col-lg-8">

                    <ul class="list-inline">
                      <li>Others:</li>
                      <li><a href="/character/luke">Luke</a></li>
                      <li><a href="/character/han" >Han Solo</a></li>
                      <li><a href="/character/leia">Leia</a></li>
                      <li><a href="/character/rey" >Rey</a></li>
                    </ul>

                </div>

              </div>

              <div class="row">

                  <div class="col-lg-8">

                    <% if( results.length > 0 ){ %>
                      <h1>Character: <%=results[0].name       %></h1>
                      <br />
                      <blockquote><p>Height:     <%=results[0].height     %></p></blockquote>
                      <blockquote><p>Mass:       <%=results[0].mass       %></p></blockquote>
                      <blockquote><p>Hair Color: <%=results[0].hair_color %></p></blockquote>
                      <blockquote><p>Skin Color: <%=results[0].skin_color %></p></blockquote>
                      <blockquote><p>Eye Color:  <%=results[0].eye_color  %></p></blockquote>
                      <blockquote><p>Birth Year: <%=results[0].birth_year %></p></blockquote>
                      <blockquote><p>Gender:     <%=results[0].gender     %></p></blockquote>

                    <% } %>

                  </div>

                </div>

      </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
