<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Star Wars App</title>
        <link rel="stylesheet" href="css/app.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <div>
        <h2>Star Wars - API</h2>
        <ul class="menu">
            <li><a href="/character">Character</a></li>
            <li><a href="/characters">All Characters</a></li>
            <li><a href="/planetresidents">Plantes and Residents</a></li>
        </ul>

        <div></div>

    </div>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
