<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Star Wars - Example</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>

      <div class="container">

        <div class="row">
            <div class="col-lg-8">&nbsp;</div>
        </div>

        <div class="row">

            <div class="col-lg-8">

                <p><%= data %></p>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-8">&nbsp;</div>
        </div>

      </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
